.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: black; /* Change this color */
  border-radius: 5px;
  outline: none;
  cursor: pointer; /* Added cursor pointer */
}

/* Thumb (for Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black; /* Change this color */
  border-radius: 100%;
  cursor: pointer;
}

/* Track (for Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer; /* Added cursor pointer */
}

/* Thumb (for Firefox) */
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: black; /* Change this color */
  border-radius: 100%;
  cursor: pointer;
}

/* Track (for Firefox) */
input[type="range"]::-moz-range-track {
  cursor: pointer; /* Added cursor pointer */
}
